html, body {
    margin: 0;
}

#panel  {
    background-color: #000;
    height: 240px;
    width: 100%;

}

#powerbutton {
    display: none;
    float: right;
    width: 216px;
    height: 216px;
    background-image: url('img/pwr-butt-off.png');
    cursor: pointer;
}